Repository DevilBatx/Proyecto_Integrador_Equipo5: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend, deploy_Backend, deploy_Frontend

gitlab-ci.yml:

stages:
  - build
  - deploy

build_backend:
  stage: build
  image: maven:3.8.6-openjdk-18
  script:
    - cd proyecto-integrador-musify-back/
    - echo "Building aplicacion"
    - mvn clean
    - mvn package
    - echo "Finaliza el bulding de Back"
  artifacts:
    paths:
      - ./proyecto-integrador-musify-back/target/Musify-Back-0.0.1-SNAPSHOT.jar
  rules:
    - changes:
        - proyecto-integrador-musify-back/**/*

build_frontend:
  stage: build
  image: node:latest
  script:
    - echo "Building de la aplicacion"
    - cd proyecto-integrador-musify-front/
    - ls
    - yarn install --force
    - yarn run build
    - echo "Finaliza el bulding de Front"
    - ls dist
    - pwd
  artifacts:
    name: react_build
    paths:
      - ./proyecto-integrador-musify-front/dist/
  rules:
    - changes:
        - proyecto-integrador-musify-front/**/*

deploy_Backend:
  stage: deploy
  needs: [build_backend]
  image: alpine:3.11
  before_script:
    - apk update && apk add openssh-client bash
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - touch ~/.ssh/config
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
    - ssh-keyscan -H "$DEPLOY_SERVER_IP" >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - echo "Comenz√≥ el Deploy"
    - ssh ubuntu@$DEPLOY_SERVER_IP "sudo systemctl stop back.service"
    - scp proyecto-integrador-musify-back/target/Musify-Back-0.0.1-SNAPSHOT.jar ubuntu@$DEPLOY_SERVER_IP:~/
    - ssh ubuntu@$DEPLOY_SERVER_IP "sudo systemctl start back.service"
    - echo "Finalizo el deploy de la aplicacion de Back"
  rules:
    - changes:
        - proyecto-integrador-musify-back/**/*

deploy_Frontend:
  stage: deploy
  needs: [build_frontend]
  image:
    name: amazon/aws-cli:latest
    entrypoint: 
        - '/usr/bin/env'
  script:
    - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
    - aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
    - aws s3 sync proyecto-integrador-musify-front/dist/ s3://c12-grupo5-front
  rules:
    - changes:
        - proyecto-integrador-musify-front/**/*

Mirror Gitlab
  proyecto-integrador-musify-front/src/App.jsx
Due: build_frontend, deploy_Frontend

Merge Glen1 Branch
  proyecto-integrador-musify-front/node_modules/.vite/deps/_metadata.json
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-2HHAGGHH.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-2HHAGGHH.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-R7BPYU6C.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/date-fns.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-datepicker.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-datepicker.js.map
  proyecto-integrador-musify-front/src/Components/Card.jsx
  proyecto-integrador-musify-front/src/Components/CardDetail.jsx
  proyecto-integrador-musify-front/src/Components/Footer.jsx
  proyecto-integrador-musify-front/src/Components/Header.jsx
  proyecto-integrador-musify-front/src/Components/Suggestions.jsx
  proyecto-integrador-musify-front/src/Routes/SignIn.jsx
  proyecto-integrador-musify-front/src/Routes/SignUp.jsx
Due: build_frontend, deploy_Frontend

add product, list product styles minus auth 403 error
  proyecto-integrador-musify-front/src/pages/AgregarProducto.jsx
  proyecto-integrador-musify-front/src/pages/ListAllProductsPage.jsx
Due: build_frontend, deploy_Frontend

last visual fix
  proyecto-integrador-musify-front/src/pages/AdminPage.jsx
Due: build_frontend, deploy_Frontend

add product fix
  proyecto-integrador-musify-front/src/pages/AgregarProducto.jsx
Due: build_frontend, deploy_Frontend

Update CardDetail.jsx
  proyecto-integrador-musify-front/src/Components/CardDetail.jsx
Due: build_frontend, deploy_Frontend

Modificacion Local Storage por Session Storage
  proyecto-integrador-musify-front/src/Components/Header.jsx
  proyecto-integrador-musify-front/src/Components/Utils/GlobalContext.jsx
  proyecto-integrador-musify-front/src/Routes/SignIn.jsx
  proyecto-integrador-musify-front/src/api/CategoryApi.jsx
  proyecto-integrador-musify-front/src/pages/AgregarProducto.jsx
  proyecto-integrador-musify-front/src/pages/ListAllProductsPage.jsx
  proyecto-integrador-musify-front/src/pages/ListAllUsersPage.jsx
Due: build_frontend, deploy_Frontend

paginacion Categorias Main, mejora avatar al actualizar pagina
  proyecto-integrador-musify-front/node_modules/.vite/deps/@babel_types.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/@babel_types.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/_metadata.json
  proyecto-integrador-musify-front/node_modules/.vite/deps/jsonwebtoken.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-datepicker.js
  proyecto-integrador-musify-front/src/App.jsx
  proyecto-integrador-musify-front/src/AppMain.jsx
  proyecto-integrador-musify-front/src/Components/Header.jsx
  proyecto-integrador-musify-front/src/Components/PaginationButtons.jsx
  proyecto-integrador-musify-front/src/Routes/Home.jsx
  proyecto-integrador-musify-front/src/Routes/Products.jsx
  proyecto-integrador-musify-front/src/api/CategoryApi.jsx
  proyecto-integrador-musify-front/src/pages/AgregarProducto.jsx
  proyecto-integrador-musify-front/src/pages/ListAllProductsPage.jsx
Due: build_frontend, deploy_Frontend

Cambios calendario sin uso
  proyecto-integrador-musify-front/node_modules/.vite/deps/_metadata.json
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-DDTOIOM4.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-DDTOIOM4.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-PPQOYUYN.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-PPQOYUYN.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-UXIASGQL.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-UXIASGQL.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-VCYPJHP2.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-VCYPJHP2.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-XLLKG6YF.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-XLLKG6YF.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/date-fns.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/date-fns.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-autosuggest.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-autosuggest.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-datepicker.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-datepicker.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-dom_client.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-dom_client.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-router-dom.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-router-dom.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/react.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/react_jsx-dev-runtime.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/react_jsx-dev-runtime.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/react_jsx-runtime.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/react_jsx-runtime.js.map
  proyecto-integrador-musify-front/src/Components/Calendar.jsx
  proyecto-integrador-musify-front/src/Components/CardDetail.jsx
  proyecto-integrador-musify-front/src/Components/Footer.jsx
Due: build_frontend, deploy_Frontend

cambio estilos panel admin, aplicacion misma logica de categorias a productos
  proyecto-integrador-musify-front/src/AdminPanel/AddProduct.jsx
  proyecto-integrador-musify-front/src/AdminPanel/ListProducts.jsx
  proyecto-integrador-musify-front/src/api/CategoryApi.jsx
  proyecto-integrador-musify-front/src/api/ProductApi.jsx
  proyecto-integrador-musify-front/src/main.jsx
  proyecto-integrador-musify-front/src/pages/AgregarProducto.jsx
  proyecto-integrador-musify-front/src/pages/ListAllProductsPage.jsx
  proyecto-integrador-musify-front/src/pages/ListAllUsersPage.jsx
  proyecto-integrador-musify-front/src/pages/ManageProducts.jsx
Due: build_frontend, deploy_Frontend

Funcionalidades para Reservas (Crear,Consultar dias libres, consultar dias reservados y Consultar reservas por idUsuario)
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/config/SecurityConfig.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/controllers/BookingController.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Booking.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Product.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/User.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/persistence/repositories/IBookingRepository.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/IBookingService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/impl/BookingService.java
Due: build_backend, deploy_Backend

Booking algunas correcciones a las Respuestas de los Endpoints
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/controllers/BookingController.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/dto/BookingDTO.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Image.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Product.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/persistence/repositories/IBookingRepository.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/persistence/repositories/IImageRepository.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/IBookingService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/IImageService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/impl/BookingService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/impl/CategoryService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/impl/ImageService.java
  proyecto-integrador-musify-front/index.html
  proyecto-integrador-musify-front/src/Components/Utils/GlobalContext.jsx
Due: build_backend, build_frontend, deploy_Backend, deploy_Frontend

Mejora barra search
  proyecto-integrador-musify-front/src/Components/Calendar.jsx
  proyecto-integrador-musify-front/src/Components/Search.jsx
Due: build_frontend, deploy_Frontend

Estilos y boton Ver mas con imagenes
  proyecto-integrador-musify-front/index.html
  proyecto-integrador-musify-front/node_modules/.vite/deps/_metadata.json
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-2HHAGGHH.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-R7BPYU6C.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-R7BPYU6C.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/date-fns.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-datepicker.js
  proyecto-integrador-musify-front/src/Components/CardDetail.jsx
  proyecto-integrador-musify-front/src/Components/Category.jsx
  proyecto-integrador-musify-front/src/Components/Footer.jsx
  proyecto-integrador-musify-front/src/Components/Header.jsx
  proyecto-integrador-musify-front/src/Components/PaginationButtons.jsx
  proyecto-integrador-musify-front/src/Components/Search.jsx
  proyecto-integrador-musify-front/src/Routes/Home.jsx
  proyecto-integrador-musify-front/src/Routes/Politicas.jsx
  proyecto-integrador-musify-front/src/Routes/Profile.jsx
  proyecto-integrador-musify-front/src/Routes/SignIn.jsx
  proyecto-integrador-musify-front/src/Routes/SignUp.jsx
  proyecto-integrador-musify-front/src/pages/AdminPage.jsx
  proyecto-integrador-musify-front/src/pages/AgregarProducto.jsx
  proyecto-integrador-musify-front/src/pages/ListAllProductsPage.jsx
  proyecto-integrador-musify-front/src/pages/ListAllUsersPage.jsx
  proyecto-integrador-musify-front/tailwind.config.js
Due: build_frontend, deploy_Frontend

prueba caracteristicas
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/config/SecurityConfig.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/controllers/BookingController.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/controllers/CategoryController.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/controllers/CharacteristicController.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/controllers/ProductController.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/dto/ProductDTO.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Booking.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Category.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Image.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Product.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/User.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/persistence/repositories/IBookingRepository.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/persistence/repositories/ICharacteristicRepository.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/persistence/repositories/IProductRepository.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/IBookingService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/ICharacteristicService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/IProductService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/impl/BookingService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/impl/CategoryService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/impl/CharacteristicService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/impl/ProductService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/impl/UserService.java
  proyecto-integrador-musify-front/index.html
  proyecto-integrador-musify-front/src/Components/Utils/GlobalContext.jsx
  proyecto-integrador-musify-front/src/pages/ListAllProductsPage.jsx
Due: build_backend, build_frontend, deploy_Backend, deploy_Frontend

Merge de todito
  proyecto-integrador-musify-front/src/Components/Category.jsx
Due: build_frontend, deploy_Frontend

Cambios en general y merge
  proyecto-integrador-musify-front/node_modules/.vite/deps/@babel_types.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/@babel_types.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/_metadata.json
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-2HHAGGHH.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-2HHAGGHH.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-2N4TI5ZB.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-R7BPYU6C.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-R7BPYU6C.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/date-fns.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/jsonwebtoken.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/jsonwebtoken.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-datepicker.js
  proyecto-integrador-musify-front/src/Components/CardDetail.jsx
  proyecto-integrador-musify-front/src/Components/Gallery.jsx
  proyecto-integrador-musify-front/src/Components/Search.jsx
  proyecto-integrador-musify-front/src/Components/Utils/GlobalContext.jsx
  proyecto-integrador-musify-front/src/Routes/Reservas.jsx
  proyecto-integrador-musify-front/src/main.jsx
  proyecto-integrador-musify-front/src/pages/AdminPage.jsx
  proyecto-integrador-musify-front/src/pages/AgregarProducto.jsx
  proyecto-integrador-musify-front/src/pages/ManageProducts.jsx
Due: build_frontend, deploy_Frontend

Estilos y modificaciones
  proyecto-integrador-musify-front/src/Components/CardDetail.jsx
  proyecto-integrador-musify-front/src/Components/Header.jsx
  proyecto-integrador-musify-front/src/Routes/Politicas.jsx
  proyecto-integrador-musify-front/src/Routes/Reservas.jsx
  proyecto-integrador-musify-front/src/pages/ListAllUsersPage.jsx
  proyecto-integrador-musify-front/src/pages/ManageCategories.jsx
Due: build_frontend, deploy_Frontend

pre Fix
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/dto/ProductDTO.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Booking.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Category.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Characteristic.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Image.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Product.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/impl/CategoryService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/impl/ProductService.java
  proyecto-integrador-musify-front/src/api/ProductApi.jsx
  proyecto-integrador-musify-front/src/pages/AgregarProducto.jsx
  proyecto-integrador-musify-front/src/pages/ManageProducts.jsx
Due: build_backend, build_frontend, deploy_Backend, deploy_Frontend

Busquda de productos por rango de fecha
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/controllers/BookingController.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/controllers/ProductController.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/dto/request/SearchRequest.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/persistence/repositories/IProductRepository.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/IBookingService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/IProductService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/impl/BookingService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/impl/ProductService.java
  proyecto-integrador-musify-front/node_modules/.vite/deps/_metadata.json
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-2HHAGGHH.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-2N4TI5ZB.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-2N4TI5ZB.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/date-fns.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-datepicker.js
Due: build_backend, build_frontend, deploy_Backend, deploy_Frontend

Endpoints acceso publico fechas reservadas y libres
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/controllers/BookingController.java
Due: build_backend, deploy_Backend

Gral Fixes
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/controllers/BookingController.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/controllers/ProductController.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/controllers/S3Controller.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/dto/ProductDTO.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/dto/SearchProductDTO.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Booking.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Category.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Product.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/persistence/repositories/IBookingRepository.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/persistence/repositories/ICategoryRepository.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/persistence/repositories/IProductRepository.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/IEmailService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/IProductService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/IS3Service.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/impl/BookingService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/impl/CategoryService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/impl/EmailService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/impl/JwtService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/impl/ProductService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/impl/UserService.java
Due: build_backend, deploy_Backend

Historial de Reservas
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/controllers/ProductController.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/dto/request/MessageResponse.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Booking.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Image.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Product.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/persistence/repositories/IProductRepository.java
  proyecto-integrador-musify-front/src/Components/Header.jsx
  proyecto-integrador-musify-front/src/Components/Utils/GlobalContext.jsx
  proyecto-integrador-musify-front/src/Routes/HistorialReservas.jsx
  proyecto-integrador-musify-front/src/api/BookingApi.jsx
  proyecto-integrador-musify-front/src/main.jsx
  proyecto-integrador-musify-front/src/pages/ManageProducts.jsx
Due: build_backend, build_frontend, deploy_Backend, deploy_Frontend

Envio Email Confirmacion Reserva
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/impl/BookingService.java
Due: build_backend, deploy_Backend

Funcion busqueda con calendario en home
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/controllers/ProductController.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/IProductService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/impl/ProductService.java
  proyecto-integrador-musify-front/node_modules/.vite/deps/_metadata.json
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-HQEHZBVF.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-HQEHZBVF.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-datepicker.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-dom.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-dom.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-dom_client.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-router-dom.js
  proyecto-integrador-musify-front/src/Components/Calendar.jsx
  proyecto-integrador-musify-front/src/Components/Search.jsx
  proyecto-integrador-musify-front/src/Components/SearchWithCalendar.jsx
  proyecto-integrador-musify-front/src/Components/Utils/GlobalContext.jsx
  proyecto-integrador-musify-front/src/Components/Utils/helpers.jsx
  proyecto-integrador-musify-front/src/Routes/SearchList.jsx
  proyecto-integrador-musify-front/src/main.jsx
Due: build_backend, build_frontend, deploy_Backend, deploy_Frontend

Fixes Modificar producto y navigate
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/controllers/ProductController.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Product.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/persistence/repositories/IProductRepository.java
  proyecto-integrador-musify-front/src/Components/Header.jsx
  proyecto-integrador-musify-front/src/Routes/SignIn.jsx
  proyecto-integrador-musify-front/src/api/ProductApi.jsx
  proyecto-integrador-musify-front/src/pages/ManageProducts.jsx
Due: build_backend, build_frontend, deploy_Backend, deploy_Frontend

Merge Back Rama Front-End
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/controllers/ProductController.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/IProductService.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/services/impl/ProductService.java
Due: build_backend, deploy_Backend

Estilos
  proyecto-integrador-musify-front/node_modules/.vite/deps/_metadata.json
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-2HHAGGHH.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-2N4TI5ZB.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-2N4TI5ZB.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/date-fns.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-datepicker.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-icons_fa.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-icons_fa.js.map
  proyecto-integrador-musify-front/src/Components/CardDetail.jsx
  proyecto-integrador-musify-front/src/Components/Utils/GlobalContext.jsx
  proyecto-integrador-musify-front/src/assets/Products/Compartir.png
Due: build_frontend, deploy_Frontend

Reservations complete code
  proyecto-integrador-musify-front/src/Components/ReservationCalendar.jsx
  proyecto-integrador-musify-front/src/Components/Utils/GlobalContext.jsx
  proyecto-integrador-musify-front/src/Routes/Reservas.jsx
  proyecto-integrador-musify-front/src/pages/ListAllProductsPage.jsx
Due: build_frontend, deploy_Frontend

Mas estilos
  proyecto-integrador-musify-front/src/Components/CardDetail.jsx
  proyecto-integrador-musify-front/src/Components/Category.jsx
  proyecto-integrador-musify-front/src/Routes/Products.jsx
  proyecto-integrador-musify-front/src/Routes/SignUp.jsx
  proyecto-integrador-musify-front/src/pages/AgregarProducto.jsx
Due: build_frontend, deploy_Frontend

Fixes Response API Product
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Booking.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Image.java
  proyecto-integrador-musify-back/src/main/java/com/grupo5/MusifyBack/models/Product.java
  proyecto-integrador-musify-front/src/pages/ManageProducts.jsx
Due: build_backend, build_frontend, deploy_Backend, deploy_Frontend

style details
  proyecto-integrador-musify-front/src/Components/ReservationCalendar.jsx
  proyecto-integrador-musify-front/src/Routes/Reservas.jsx
Due: build_frontend, deploy_Frontend

Fix reservas, idioma calendarios
  proyecto-integrador-musify-front/node_modules/.vite/deps/_metadata.json
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-ATL4KQOH.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-ATL4KQOH.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-NN2DETXQ.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-NN2DETXQ.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/chunk-R7BPYU6C.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/date-fns.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/date-fns.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/date-fns_locale_es.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/date-fns_locale_es.js.map
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-datepicker.js
  proyecto-integrador-musify-front/node_modules/.vite/deps/react-datepicker.js.map
  proyecto-integrador-musify-front/src/Components/Calendar.jsx
  proyecto-integrador-musify-front/src/Components/ReservationCalendar.jsx
  proyecto-integrador-musify-front/src/Routes/Reservas.jsx
Due: build_frontend, deploy_Frontend

last style changes to booking
  proyecto-integrador-musify-front/src/Components/CardDetail.jsx
  proyecto-integrador-musify-front/src/Routes/Reservas.jsx
Due: build_frontend, deploy_Frontend
